/* body {
    margin: 0;
    padding: 0;
}

.navbarrr {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Slight transparency */
    /* backdrop-filter: blur(10px); /* Apply blur effect */
    /* padding: 15px;
    z-index: 1000;
    transition: background-color 0.3s ease;
} */

/* .action{backdrop-filter: blur(10px); background-color: rgba(255, 255, 255, 0.2);}
.navblur:hover {
    background-color: rgba(255, 255, 255, 0.2);  /* Darker on hover */
/* } */ */ */ */




body {
    margin: 0;
    padding: 0;}

.navbar1 {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* Transparent by default */
    padding: 15px;
    z-index: 1000;
    transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
}

.navbar1.blur {
    backdrop-filter: blur(10px); /* Blur on scroll */
    background-color: rgba(255, 255, 255, 0.8); /* Darker background when blurred */
}



li{ background-color: beige;
   padding: 20px;
    border-radius: 25px;}

























